.DS_Store

*.apk
*.ap_

*.dex

*.class

bin/
gen/
build/
captures/

local.properties

proguard/

*.log

.idea
.gradle
.externalNativeBuild
!gradle-wrapper.jar
/*/local.properties
/*/out
/*/*/build
build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp